

<div class="dashboard-container">
  <div class="balance">
    <span class="balance-amount">$100</span>
  </div>

  <div class="spending-controls">
    <!-- Add spending controls UI here -->
  </div>

  <div class="task-creator-container">
    <form>
      <div class="mb-3">
        <label for="exampleInputText" class="form-label">Task</label>
        <input type="text" class="form-control" id="exampleInputText">
      </div>
      <div class="mb-3">
        <input type="number" class="form-control" id="number">
        <label for="number" class="form-label">$$</label>
      </div>
      <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
  </div>

  <div class="task-list-container">
    <ol class="list-group list-group-numbered">
      <li class="list-group-item">
        A list item
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-success">Success</button>
      </li>
      <li class="list-group-item">
        A list item
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-success">Success</button>
      </li>
      <li class="list-group-item">
        A list item
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-success">Success</button>
      </li>
    </ol>
  </div>
</div>

