{{!-- <body class="boxed-layout"> --}}
<script src="/dobyfi-main/routes/auth.routes.js"></script>
  </div>
    <img src="/images/logo.png" alt="Company Logo" id="logo">
  <div class= "title">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

    <h1> Spain's #1 Fintech </h1>
  


    <h2>Educational App
        <br>
        Get one month free, plus 5€ FREE pocket money when you sign up to <a href="/auth/signup">Dobyfi.com</h2>
                            </div>
                            {{!-- </div>
                            </body>
                       </div>
                        <div class="hero-form flx_2">
                            <form id="contactForm" data-toggle="validator" class="shake">
                                <form action="/auth/signup" method="POST">
                                    <div class="firstname">
                                        <input type="text" class="form-control" placeholder="First name"
                                            aria-label="First name">

                                        <div class="lastname">
                                            <input type="text" class="form-control" placeholder="Last name"
                                                aria-label="Last name">

                                            <div class="username">
                                                <input type="text" class="form-control" placeholder="username"
                                                    aria-label="username">

                                                <div class="e-mail">
                                                    <input type="text" class="form-control" placeholder="e-mail"
                                                        aria-label="e-mail">

                                                    <div class="age">
                                                        <input type="number" class="form-control" placeholder="age"
                                                            aria-label="age" required>

                                                        <div class="sex">
                                                            <select id="sex" class="form-control" placeholder="sex"
                                                                name="sex" required>
                                                                <option value="male">Male</option>
                                                                <option value="female">Female</option>
                                                                <option value="other">Other</option>
                                                            </select>
                                                            <label for="password">Password:</label>
                                                            <input type="password" id="password" name="password"
                                                                required>
                                </form>

                        </div>
                    </div>
                    <button type="submit" id="form-submit" class="btn-action">Request Demo</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body> --}}