<body class="boxed-layout">

    <div class="wrapper">
        <!-- Navbar Section -->
        <!-- Navbar End -->


        <div id="main" class="main">
            <div class="hero2">
                <div class="container-m">
                    <div class="hero-inner yd_flx2">
                        <div class="hero-content flx_1">
                              <div class="logo-container">
    <img src="/images/logo.png" alt="Company Logo" id="logo">
  </div>
                            <div class="hero-content-inner">
                                <h4> EU's #1 kids' debit card </h4>
                                <h2> & financial education app </h2>
                                <p>Get one month free, plus 5€ FREE pocket money when you sign up to Dobyfi.io</p>
                            </div>
                        </div>
                        <div class="hero-form flx_2">
                            <form id="contactForm" data-toggle="validator" class="shake">
                                <form action="/auth/signup" method="POST">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="First name"
                                            aria-label="First name">

                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Last name"
                                                aria-label="Last name">

                                            <div class="col">
                                                <input type="text" class="form-control" placeholder="username"
                                                    aria-label="username">

                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="e-mail"
                                                        aria-label="e-mail">

                                                    <div class="col">
                                                        <input type="number" class="form-control" placeholder="age"
                                                            aria-label="age" required>

                                                        <div class="col">
                                                            <select id="sex" class="form-control" placeholder="sex"
                                                                name="sex" required>
                                                                <option value="male">Male</option>
                                                                <option value="female">Female</option>
                                                                <option value="other">Other</option>
                                                            </select>

                                                            <label for="accountType">Type of account:</label>
                                                            <select id="accountType" name="accountType" required>
                                                                <option value="parent">Parent Account</option>
                                                                <option value="child">Child Account</option>
                                                            </select>

                                                            <label for="password">Password:</label>
                                                            <input type="password" id="password" name="password"
                                                                required>

                                                            <input type="submit" value="Submit">
                                </form>


                        </div>
                    </div>
                    <button type="submit" id="form-submit" class="btn-action">Request Demo</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>