<!DOCTYPE html>
<html>
<head>
  <title>Your Title</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body class="background-image">
  <div class="logo-container">
    <img src="/images/logo.png" alt="Company Logo" class="logo">
  </div>

  <!-- Your other content here -->



<div id="form" class="centered-form">
  <h1>Sign Up</h1>
  <form action="/auth/signup" method="POST">
 {{ errorMessage }}
  <div class="col">
    <input name="name" type="text" class="form-control" placeholder="First name" aria-label="First name"></div>

  <div class="col">
    <input name="lastname" type="text" class="form-control" placeholder="Last name" aria-label="Last name"></div>

  <div class="col">
        <input name="username" type="text" class="form-control" placeholder="username" aria-label="username"></div>

  <div class="col">
        <input name="email" type="text" class="form-control" placeholder="e-mail" aria-label="e-mail"></div>

  <div class="col">
            <input name="age" type="number" class="form-control" placeholder="age" aria-label="age"required></div>

  <div class="col">
            <select id="sex" class="form-control" placeholder="sex" name="sex" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
                </select>
                </div>

  
  
  <label for="accountType">Type of account:</label>
  <select id="accountType" name="accountType" required>
    <option value="Parent Account">Parent Account</option>
    <option value="Child Account">Child Account</option>
  </select>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>

  <input type="submit" value="Submit">
</form>

</div>

</body>
</html>
